# Обработка данных
pandas==2.3.1
numpy==2.2.6

# ML и моделирование
scikit-learn==1.7.0
lightgbm==4.6.0
joblib==1.5.1

# Оптимизация гиперпараметров
optuna==4.3.0

# Трекинг экспериментов
mlflow==2.22.0

# Визуализация
matplotlib==3.10.3
seaborn==0.13.2

# Веб-сервис
fastapi==0.133.0
uvicorn==0.41.0
pydantic==2.12.5

# Мониторинг
prometheus-client==0.22.1

# Утилиты
requests==2.32.3
